@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
   <p>We hope you enjoy using this app just half as much as we enjoyed making it for you ;)</p>
</div>


